body {
  background-color: #00b2ff;
  color:white;
  text-shadow:1px 1px 3px #00386d, -1px -1px 3px #00386d;
}

#xerus img {
  width:100%;
  margin-bottom:20px;
}

#xerus {
  display:none;
  width:500px;
  margin:auto;
  margin-bottom:20px;
  border: 1px solid white;
  padding: 20px;
  background-color: #2b5dad;
}

#faln {
  display:none;
  width:500px;
  margin:auto;
  margin-bottom:20px;
  border: 1px solid white;
  padding: 20px;
  background-color: #2b5dad;
}

#faln img {
  width:100%;
  margin-bottom:20px;
}

#nebula {
  display:none;
  width:500px;
  margin:auto;
  margin-bottom:20px;
  border: 1px solid white;
  padding: 20px;
  background-color: #2b5dad;
}

#nebula img {
  width:100%;
  margin-bottom:20px;
}

.btn {
  color: #003c6b;
}

.radio {
  webkit-transition: color 2s, text-shadow 2s; /* Safari */
  transition: color 0.5s, text-shadow 0.5s;
}

.radio:hover {
  color: #003c6b;
  text-shadow:1px 1px 3px white, -1px -1px 3px white;
}
